* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: violet;
    color: black;
    font-family: "Fira Sans", sans-serif;
    text-align: center;
}

nav {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    padding: 20px 5%;
    background-color: #24dba1cd;
}

nav .heading {
    font-size: 30px;
    font-weight: 700;
    color: red;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    padding: 8px 15px;
    border-radius: 10px;
    transition: 0.2s ease-in;
}

nav ul li:hover {
    background-color: rgb(5, 124, 41);
}

button {
    padding: 1px;
    margin: 20px;
    color: aquamarine;
    height: 35px;
    width: 200px;
    border-radius: 12px;
    border-color: transparent;
    font-style: italic;
    font-size: large;
}

button:hover {
    background-color: #8cc099;
}

img {
    border-radius: 120px;
}